#parent > div{
    display: inline-block;
    height: 100px;
    width: 100px;
    position: absolute;
}

#parent div:first-child {
    background-color: yellow;
    left: 100px;
    top: 100px;
    animation: move1 1.5s infinite;
}

#parent div:nth-child(2) {
    background-color: pink;
    left: 200px;
    top: 100px;
    animation: move2 1.5s infinite;
}

#parent div:nth-child(3) {
    background-color: blueviolet;
    left: 200px;
    top: 200px;
    animation: move3 1.5s infinite;
}

#parent div:last-child {
    background-color: skyblue;
    left: 100px;
    top: 200px;
    animation: move4 1.5s infinite;
}

@keyframes move1{
    0% {
        left: 100px;
        top: 100px;
    }
    25% {
        left: 100px;
        top: 200px;
    }
    50% {
        left: 200px;
        top: 200px;
    }
    75% {
        left: 200px;
        top: 100px;
    }
}

@keyframes move2{
    0% {
        left: 200px;
        top: 100px;
    }
    25% {
        left: 100px;
        top: 100px;
    }
    50% {
        left: 100px;
        top: 200px;
    }
    75% {
        left: 200px;
        top: 200px;
    }
}

@keyframes move3{
    0% {
        left: 200px;
        top: 200px;
    }
    25% {
        left: 200px;
        top: 100px;
    }
    50% {
        left: 100px;
        top: 100px;
    }
    75% {
        left: 100px;
        top: 200px;
    }
}

@keyframes move4{
    0% {
        left: 100px;
        top: 200px;
    }
    25% {
        left: 200px;
        top: 200px;
    }
    50% {
        left: 200px;
        top: 100px;
    }
    75% {
        left: 100px;
        top: 100px;
    }
}