* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#formBody {
    background-color: #d9dbdd;
    height: 700px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #b0b1b2;
    border-radius: 8px;
}

h1 {
    padding-left: 20px;
    padding-top: 20px;
}

#form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;
}

#formFieldsLabel {
    display: flex;
    flex-direction: column;
}

label {
    text-align: center;
}

.label {
    margin-top: 22px;
    text-align: right;
}

#formFieldsIcons {
    margin-left: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.icon {
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #b0b1b2;
    margin-bottom: 13px;
}

#projectIcon {
    margin-top: 40px;
    height: 35px;
}

#formFields {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-field-div {
    height: 40px;
}

.input-field {
    height: 25px;
    width: 200px;
}

input:valid, textarea:valid {
    border: 1px solid green;
}

input:invalid, textarea:invalid {
    border: 1px solid red;
}


#state {
    width: 200px; 
}

textarea[name=project] {    
    width: 200px;
    height: 40px;
} 

#send {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #e88c4a;
    color: #e2e2e2;
    margin-left: 480px;
}

#sendIcon {
    height: 20px;
    color: #e2e2e2;
    padding-left: 5px;
}
