<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>hellowworldservlet</display-name>
  <servlet>
    <display-name>add employee servlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.Servlets.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>show employee servlet</display-name>
    <servlet-name>ShowEmployeeServlet</servlet-name>
    <servlet-class>com.Servlets.ShowEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>search employee servlet</display-name>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <servlet-class>com.Servlets.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>edit employee servlet</display-name>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <servlet-class>com.Servlets.EditEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>update employee servlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.Servlets.UpdateEmployeeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowEmployeeServlet</servlet-name>
    <url-pattern>/ShowEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <url-pattern>/EditEmployeeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>UpdateEmployeeServlet</servlet-name>
     <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>