<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>hellowworldservlet</display-name>
  <servlet>
    <display-name>add employee servlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.Controller.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>show employee servlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.Controller.RegistrationServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>search employee servlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.Controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.Controller.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.Controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>