
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
      <form action="findPassword" method = "post">
          <table>
              <tr>
                  <td>Email : </td>
                  <td><input type = "email" name = "emailId"/></td>
              </tr>
              
              <tr>
                  <td></td>
                  <td><input type = "submit" value = "Find Password"/></td>
              </tr>
          </table>
      </form>
</body>
</html>